<%- include('../partials/header') %>
    <div id="edit-form-container">
        <h2 id="title">
            <%= title %>
        </h2>
        <div id="edit-form">
            <form action="/jobs/<%= job._id %>?_method=PUT" method="POST" autocomplete="off">
                <label><strong>* role name: </strong></label>
                    <input type="string" name="role" value="<%= job.role %>" maxlength=35 required>
                <br>
                <label><strong>* company: </strong></label>
                    <input type="string" name="company" value="<%= job.company %>" maxlength=25 required>
                <br>
                <label><strong>* current stage: </strong></label>
                    <select name="currentStage" class="stage-selector">
                        <option value="4. applied ðŸ¯ â—‹â—‹â—‹â—‹" <%= job.currentStage==="4. applied ðŸ¯ â—‹â—‹â—‹â—‹" ? "selected"
                        : "" %>>applied</option>
                        <option value="5. just getting started ðŸ¯ ðŸ¯ â—‹â—‹â—‹" <%= job.currentStage==="5. just getting started ðŸ¯ ðŸ¯ â—‹â—‹â—‹" ? "selected"
                        : "" %>>just getting started</option>
                        <option value="6. midway ðŸ¯ ðŸ¯ ðŸ¯ â—‹â—‹" <%= job.currentStage==="6. midway ðŸ¯ ðŸ¯ ðŸ¯ â—‹â—‹" ? "selected" : "" %>>midway</option>
                        <option value="7. almost there ðŸ¯ ðŸ¯ ðŸ¯ ðŸ¯ â—‹" <%= job.currentStage==="7. almost there ðŸ¯ ðŸ¯ ðŸ¯ ðŸ¯ â—‹" ? "selected" : "" %>>almost
                            there</option>
                            <option value="8. done! ðŸ¯ ðŸ¯ ðŸ¯ ðŸ¯ ðŸ¯" <%= job.currentStage==="8. done! ðŸ¯ ðŸ¯ ðŸ¯ ðŸ¯ ðŸ¯" ? "selected" : "" %>>done!</option>
                            <option value="3. to apply" <%= job.currentStage==="3. to apply" ? "selected" : "" %>>to apply</option>
                            <option value="2. on hold" <%= job.currentStage==="2. on hold" ? "selected" : "" %>>on hold</option>
                            <option value="1. rejected" <%= job.currentStage==="1. rejected" ? "selected" : "" %>>rejected</option>
                    </select>
                <br>
                <label><strong>link to job description: </strong></label>
                    <input type="string" name="link" value="<%= job.link %>">
                <br>
                <br>
                <button type="submit" class="input-button">save job</button>
            </form>
            <form action="/jobs/<%= job.id %>" method="GET">
                <button type="submit" class="input-button">cancel</button>
            </form>
            <br><br>
            <span id="required">
                * = <span>required</span>
            </span>
        </div>
    </div>

    <%- include('../partials/footer') %>