<%- include('../partials/header') %>

    <div id="job-list">
        <h2 id="title">
            welcome to <%= title %><%if (name){%>, <%= name %><%}%>!
        </h2>
        <div id="job-list-buttons">
            <span>
                <form action="/jobs/new" method="GET">
                    <button class="input-button" type="submit">add a job</button>
                </form>
            <% if (jobs.length > 0) { %>
                <form action="/jobs/hired" method="GET">
                    <button class="input-button" type="submit">just got hired!</button>
                </form>
            </span>
            <% } %>
        </div><br><br>
        <% if (jobs.length > 0) { %>
            <br>
            <table>
                <thead>
                    <tr id="table-head">
                        <th>role</th>
                        <th>company</th>
                        <th>stage</th>
                        <th id="sort-tablehead">sort by<br>
                            <form action="/jobs/sort" method="GET">
                                <select id="sort-options" name="sortKey">
                                    <option value="last updated"<%= sortKey==="last updated" ? "selected"
                                    : "" %>>last updated</option>
                                    <option value="role A-Z" <%= sortKey==="role A-Z" ? "selected"
                                    : "" %>>role A-Z</option>
                                    <option value="role Z-A" <%= sortKey==="role Z-A" ? "selected"
                                    : "" %>>role Z-A</option>
                                    <option value="company A-Z" <%= sortKey==="company A-Z" ? "selected"
                                    : "" %>>company A-Z</option>
                                    <option value="company Z-A" <%= sortKey==="company Z-A" ? "selected"
                                    : "" %>>company Z-A</option>
                                    <option value="latest stage" <%= sortKey==="latest stage" ? "selected"
                                    : "" %>>latest stage</option>
                                    <option value="earliest stage" <%= sortKey==="earliest stage" ? "selected"
                                    : "" %>>earliest stage</option>
                                </select>
                                <button type="submit" id="sort-submit">go</button>
                            </form>
                        </th>
                        </form>
                    </tr>
                </thead>
                <tbody>
                    <% jobs.forEach(function(j) { %>
                        <tr>
                            <td>
                                <%= j.role %>
                            </td>
                            <td>
                                <%= j.company %>
                            </td>
                            <td>
                                <%=j.currentStage.slice(3)%>
                            </td>
                            <td>
                                <a href="/jobs/<%= j._id %>">details & log</a>
                            </td>
                        </tr>
                        <% });%>
                </tbody>
            </table>
            <% } else { %>
                <div>
                    <h3>how to get started:</h3>
                    1. click on "add a job"<br><br>
                    2. enter the role & company name, your current stage and a link to the job<br><br>
                    3. you can then add details to your interview log to help you keep track of the process<br><br>
                </div>
                <% } %>
    </div>
    <%- include('../partials/footer') %>