<%- include('../partials/header') %>

    <div id="job-list">
        <h2 id="title">
            welcome to <%= title %>, <%= name %>
                <span>
                    <form action="/jobs/new" method="GET">
                        <button class="input-button" type="submit">add a job</button>
                    </form>
                </span>
        </h2>
        <br><br>
        <% if (jobs.length>= 1) { %>
            <br>
            <table>
                <thead>
                    <tr id="table-head">
                        <th>role</th>
                        <th>company</th>
                        <th>stage</th>
                    </tr>
                </thead>
                <tbody>
                    <% jobs.forEach(function(j) { %>
                        <tr>
                            <td>
                                <%= j.role %>
                            </td>
                            <td>
                                <%= j.company %>
                            </td>
                            <td>
                                <%=j.currentStage%>
                            </td>
                            <td>
                                <a href="/jobs/<%= j._id %>">details</a>
                            </td>
                        </tr>
                        <% });%>
                </tbody>
            </table>
            <% } else { %>
                <h3>no jobs yet!</h3>
                <a>
                    <strong>how to get started:</strong><br>
                    - click on "add a job"<br>
                    - enter the role name, company name, and a link to the job<br>
                    - you can then add details to your interview log to help you keep track
                </a>
                <% } %>
    </div>
    <%- include('../partials/footer') %>