<%- include('../partials/header') %>
    <section id="job-show-container">
        <h2 id="title">
            <%= title %>
                <span id="job-show-buttons">
                    <form action="/jobs/<%= job._id %>/edit" method="GET">
                        <button type="submit" class="input-button">update</button>
                    </form>
                    <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST" id="delete-form">
                        <button type="submit" class="input-button" id="delete-button">delete job</button>
                    </form>
                </span>
        </h2>
        <div id="job-show">
            <div>
                <span class="jobs-show"><strong>role:</strong></span>
                <%= job.role %>
            </div>
            <div class="update-form">
                <span class="jobs-show"><strong>company:</strong></span>
                <%= job.company %>
            </div>
            <div class="update-form">
                <span class="jobs-show"><strong>current stage:</strong></span>
                <%= job.currentStage.slice(3) %>
            </div>
            <div>
                <span class="jobs-show"><strong>link to job description:</strong></span>
                <a href="<%= job.link %>" target="_blank">
                    <%=job.link%>
                </a>
            </div>
            <hr>
            <label><strong>interview log: </strong></label>
            <% if (job.interviewLog.length>= 1) { %>
                <div class="interview-log">
                    <br>
                    <% job.interviewLog.forEach(function(i) { %>
                        <h2 id="log-entry">
                            log entry # <%= job.interviewLog.indexOf(i) + 1 %>
                        </h2><br><br>
                        <div>
                            date: <%= i.createdAt.toLocaleDateString() %>
                        </div>
                        <div>
                            interviewers: <% i.interviewers.forEach(function(n){ %>
                                <a href="https://www.linkedin.com/search/results/all/?keywords=<%=n%>" target="_blank">
                                    <% if (i.interviewers.indexOf(n) !==i.interviewers.length - 1){ %>
                                        <%= n %>,
                                            <% } else { %>
                                                <%= n %>
                                                    <% } %>
                                                </a>
                                                <% }) %>
                                                <div class="tooltip">i
                                                    <span class="tooltiptext">click on each interviewer's name to search them up on LinkedIn!</span>
                                                </div>
                        </div>
                        <div>
                            contact info: <%= i.contactInfo %>
                        </div>
                        <div>
                            notes: <%= i.notes %>
                        </div>
                        <br>
                        <% }); %>
                </div>
                <% } else { %>
                    <h5>no log entries yet!</h5>
                    <% } %>
                        <span class="jobs-show"><strong>add a log entry below:</strong></span><br><br>
                        <form id="interview-log-form" method="POST" action="/jobs/<%= job._id %>/logs">
                            <label>* interviewers: </label>
                            <textarea type="string" name="interviewers" rows="4" cols="35"
                                placeholder="separate with commas" required></textarea>
                            <br><br>
                            <label>contact info:</label>
                            <textarea type="string" name="contactInfo" rows="4" cols="35"></textarea>
                            <br><br>
                            <label>notes: </label>
                            <textarea type="string" name="notes" rows="8" cols="35"></textarea>
                            <br><br>
                            <button type="submit" class="input-button">add log entry</button>
                        </form>
                        <br><br>
                        <span id="required">
                            * = <span>required</span>
                        </span>
        </div>
    </section>
    <%- include('../partials/footer') %>