<%- include('../partials/header') %>
    <section id="job-show-container">
        <h2 id="title">
            <%= title %>
        </h2>
        <div id="job-show">
            <div>
                <span class="jobs-show"><strong>role:</strong></span>
                <%= job.role %>
            </div>
            <div class="update-form">
                <span class="jobs-show"><strong>company:</strong></span>
                <%= job.company %>
            </div>
            <div class="update-form">
                <form action="/jobs/<%= job._id %>/edit" method="GET">
                    <span class="jobs-show"><strong>current stage:</strong></span>
                    <%= job.currentStage %>
                        <button type="submit" class="input-button">update</button>
                </form>
            </div>
            <div>
                <span class="jobs-show"><strong>link to job description:</strong></span>
                <a href="<%= job.link %>" target="_blank">
                    <%=job.link%>
                </a>
            </div>
            <div>
                <span class="jobs-show"><strong>general notes:</strong></span>
                <%= job.generalNotes %>
            </div>
            <label><strong>interview log: </strong></label><br><br>
            <% if (job.interviewLog.length >= 1) { %>
                <table class="interview-log">
                  <thead>
                    <tr>
                      <th>date</th>
                      <th>interviewers</th>
                      <th>contact info</th>
                      <th>notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% job.interviewLog.forEach(function(i) { %>
                      <tr>
                        <td>
                          <%= i.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                          <%= i.interviewers %>
                        </td>
                        <td>
                          <%= i.contactInfo %>
                        </td>
                        <td>
                          <%= i.notes %>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
                <% } else { %>
                  <h5>no notes yet</h5>
                  <% } %>
            <br>
            <form id="add-log-form" method="POST" action="/jobs/<%= job._id %>/logs">
                <label>interviewers: </label>
                <textarea type="string" name="interviewers" rows="4" cols="25"></textarea>
                <br>
                <label>contact info:</label>
                <textarea type="string" name="contactInfo" rows="4" cols="25"></textarea>
                <br>
                <label>notes: </label>
                <textarea type="string" name="notes" rows="8" cols="25"></textarea>
                <br>
                <button type="submit" class="input-button">add notes</button>
            </form>
            <span>
                <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST" id="delete-form">
                    <button type="submit" class="input-button" id="delete-button">delete</button>
                </form>
        </div>
    </section>
    <%- include('../partials/footer') %>