<%- include('../partials/header') %>
    <section>
        <div>
            <span class="jobs-show">Role:</span>
            <%= job.role %>
        </div>
        <br>
        <div>
            <span class="jobs-show">Company:</span>
            <%= job.company %>
        </div>
        <br>
        <div>
            <span class="jobs-show">Current stage:</span>
            <% if (job.currentStage) { %>
                <%= job.currentStage %>
                    <br><br>
                    <span class="jobs-show">Update stage:</span>
                    <form action="/jobs/?_method=PUT" method="POST">
                        <select name="currentStage">
                            <% for (let i=1; i < job.totalStages + 1; i++){ %>
                                <option value="<%=i%>">
                                    <%= i %>
                                </option>
                                <% } %>
                        </select>
                        <input type="submit" value="update">
                    </form>
                    <% } else { job.currentStage === 1 } %>
        </div>
        <br>
        <div>
            <span class="jobs-show">Link to job description:</span>
            <a href="<%= job.link %>"><%=job.link%></a>
        </div>
        <br>
        <div>
            <span class="jobs-show">Notes:</span>
            <%= job.notes %>
        </div>
        <br>
        <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
            <button type="submit">delete</button>
        </form>
    </section>
    <%- include('../partials/footer') %>