<%- include('../partials/header') %>
    <section id="job-show-container">
        <h2 id="title">
            <%= title %>
        </h2>
        <div>
            <span class="jobs-show">Role:</span>
            <%= job.role %>
        </div>
        <br>
        <div>
            <span class="jobs-show">Company:</span>
            <%= job.company %>
        </div>
        <br>
        <div>
            <span class="jobs-show">Current stage:</span>
            <%= job.currentStage %>
                <form action="/jobs/<%= job._id %>/edit" method="GET">
                    <input type="submit" value="update">
                </form>
        </div>
        <br>
        <div>
            <span class="jobs-show">Link to job description:</span>
            <a href="<%= job.link %>" target="_blank">
                <%=job.link%>
            </a>
        </div>
        <br>
        <div>
            <span class="jobs-show">Notes:</span>
            <%= job.notes %>
        </div>
        <br>
        <span>
            <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
                <button type="submit">delete</button>
            </form>
    </section>
    <%- include('../partials/footer') %>