<%- include('../partials/header') %>
    <section id="job-show-container">
        <h2 id="title">
            <%= title %>
        </h2>
        <div id="job-show">
        <div>
            <span class="jobs-show"><strong>role:</strong></span>
            <%= job.role %>
        </div>
        <div>
            <span class="jobs-show"><strong>company:</strong></span>
            <%= job.company %>
        </div>
        <div>
            <span class="jobs-show"><strong>current stage:</strong></span>
            <%= job.currentStage %>
                <form action="/jobs/<%= job._id %>/edit" method="GET">
                    <input type="submit" value="update" class="input-button">
                </form>
        </div>
        <div>
            <span class="jobs-show"><strong>link to job description:</strong></span>
            <a href="<%= job.link %>" target="_blank">
                <%=job.link%>
            </a>
        </div>
        <div>
            <span class="jobs-show"><strong>notes:</strong></span>
            <%= job.notes %>
        </div>
        <br>
        <span>
            <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
                <input type="submit" class="input-button" value="delete">
            </form>
        </div>
    </section>
    <%- include('../partials/footer') %>